<h1>Add Contact Information</h1>

<form action='/contact_form' method='post'>
  <div class='form-group'>
    <label for="first_name">First Name:</label>
    <input id="first_name" type="text" name="first_name"  class="form-control" required>
  </div>
  <div class='form-group'>
    <label for="last_name">Last Name:</label>
    <input id="last_name" type="text" name="last_name"  class="form-control" required>
  </div>
  <div class='form-group'>
    <label for="job">Job Title:</label>
    <input id="job" type="text" name="job"  class="form-control" required>
  </div>
  <div class='form-group'>
    <label for="company">Company</label>
    <input id="company" type="text" name="company"  class="form-control" required>
  </div>

  <button type="submit" class="btn btn-outline-primary" name="submit">Add Contact</button>
</form>


<a href="/">Home</a>
