<h1>Add Phone Number Information</h1>

<form action='/phone_form' method='post'>
  <input id='contact_id' name= 'contact_id' type= 'hidden' value= "<%= @contact.id() %>">

  <div class='form-group'>
    <label for="type">Type:</label>
    <input id="type" type="text" name="type"  class="form-control" required>
  </div>
  <div class='form-group'>
    <label for="area_code">Area Code:</label>
    <input id="area_code" type="text" name="area_code"  class="form-control" required>
  </div>
  <div class='form-group'>
    <label for="number">Number:</label>
    <input id="number" type="text" name="number"  class="form-control" required>
  </div>


  <button type="submit" class="btn btn-outline-primary" name="submit">Add Phone</button>
</form>

<a href="/">Home</a>
